{% extends 'bootstrap/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<button style="padding:2em;"> <a href="{{ url_for('logout') }}" style="padding:2em ">Log Out</a> </button>



<div class="jumbotron">
    <div class="container" style="padding: 2em">
      <h1 class="display-4">Welcome to the Academy of Public Health Membership application portal!</h1>
      <br><br>
      {% for item in items %}
        <ul>
           <p> Name: {{ item.applicant_name }} | Email: {{ item.applicant_email }} | Phone: {{ item.applicant_phone }} | Country of Citizenship: {{ item.applicant_citizen }} | Country of Residence: {{ item.applicant_residency }} | Category Applied for: {{ item.applicant_category }} </p> <br>
                <li>{{ item.statement_name.rsplit('.', 1)[0] }} | <a href="{{ url_for ( 'downloads', id=item.id )}}">Download</a></li> <br>
                <li>{{ item.resume_name.rsplit('.', 1)[0] }} | <a href="{{ url_for ( 'downloadr', id=item.id )}}">Download</a></li> <br>
                <li>{{ item.certificate_name.rsplit('.', 1)[0] }} | <a href="{{ url_for ( 'downloadc', id=item.id )}}">Download</a></li> <br>
                <li>{{ item.reference_name.rsplit('.', 1)[0] }} | <a href="{{ url_for ( 'downloadrr', id=item.id )}}">Download</a></li> <br>
            </li>
            <p><a href="{{ url_for ( 'delete', id=item.id )}}">Delete application?</a> Warning: There is no confirmation and the action cannot be undone.</p>
        </ul>

        <br><br>
      {% endfor %}

    </div>
  </div>
  
{% endblock %}
