{% extends 'bootstrap/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container" style="padding: 2;">
      <h1 class="display-4">Welcome to the Young Professionals in Public Health application portal!</h1>
      
        <div class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-left my-5">
                                <h1 class="fw-bolder mb-3">How to Apply</h1>
                                <p class="lead fw-normal text-muted mb-4">To apply for a YPPH programme you must apply online. We cannot accept applications any other way. <br>

                                    Please check you meet the entry requirements for the category before you begin your application.</p>
                                <h3 class="fw-bolder mb-3">Documents</h3>
                                <p class="lead fw-normal text-muted mb-4">As part of your application, you also need to submit the following supporting documents:</p>
                                <ul class="lead fw-normal text-muted mb-4">
                                    <li class="mb-2">A supporting personal statement</li>
                                    <li class="mb-2">Your résumé, in English Language</li>
                                    <li class="mb-2">One passport photograph</li>
                                </ul>
                                <br>
                                <p class="lead fw-normal text-muted mb-4">Please note that the supporting statement and résumé must be submitted in English Language and they must be in PDF format.</p>

                                <h3 class="fw-bolder mb-3">Guidance notes for using the online application</h3>
                                <p class="lead fw-normal text-muted mb-4">These notes are intended to help you complete the online application form accurately.</p>
                                <ul class="lead fw-normal text-muted mb-4">
<!--                                     <li class="mb-2"><strong>Name and Date of birth:</strong>&nbsp;must appear exactly as they do on your passport. Please take time to check the spelling and lay-out.</li> -->
                                    <li class="mb-2"><strong>Contact Details</strong>: Correspondence address. All contact relevant to your application will be sent to this address including the acceptance letter. If your address changes, please contact us as soon as possible.</li>
                                    <li class="mb-2"><strong>YPPH Programme Applied For</strong>: Please select carefully the category you want to apply for. As your application will be sent to the selection committee for the category you select.</li>
                                    <li class="mb-2"><strong>Education and Qualifications</strong>: Please complete this section as fully as possible indicating any relevant Higher Education qualifications starting with the most recent. Complete the name of the Institution(s) as it appears on the degree certificate.</li>
                                    <li class="mb-2"><strong>Reference</strong>: Please provide one reference letter. This should typically be an professional reference but in cases where this is not possible then a reference from your most recent academic institution may be accepted instead.</li>
                                </ul>

                                <div class="d-grid"><a class="btn btn-secondary btn-lg" href="https://aph-membership.herokuapp.com">Apply</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
      <hr class="my-4">
    <a class="btn btn-primary btn-lg" href=" {{ url_for ('login') }} " role="button">Apply!</a>
    </div>
  </div>
  
{% endblock %}
